{{ if ne .Site.Params.snipcart.enabled false -}}
  {{- if not .Site.Params.snipcart.version -}}
  {{ errorf "You have not passed the dot context to the snipcart css partial" }}
  {{- end -}}
  <link rel="stylesheet" href="{{ printf "https://cdn.snipcart.com/themes/v%v/default/snipcart.css" .Site.Params.snipcart.version }}" />
  {{ if site.Params.snipcart.bootstrap -}}
  {{- /* 
    * matches bootstrap offcanvas z-index 
    * otherwise bootstrap nav-bar will be on top of snipcart offcanvas nav
    */ -}}
  {{- $string := printf ".snipcart-modal__container {z-index: 1050;}" -}}
  {{- $targetPath := "css/snipBootstrap.css" -}}
  {{- $snipBootstrap := $string | resources.FromString $targetPath -}}
  <link rel="stylesheet" href="{{ $snipBootstrap.Permalink }}">
  {{- end -}}
{{- end -}}